.contact-clean form .btn,
.highlight-blue .buttons .btn {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-shadow: none;
}
.contact-clean form .btn:active,
.highlight-blue .buttons .btn:active {
  transform: translateY(1px);
}
.contact-clean {
  background: 0 0;
  padding: 80px 0;
}

.contact-clean.about
{
  margin:0;
  padding:0;
}
.contact-clean.about form
{
  padding:0; 
  margin-top:-20px;
}

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
}
.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px;
  }
}
.contact-clean h2 {
  margin-top: 5px;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}
.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}
.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: 0;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}
.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}
.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}
.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: 0 0;
  box-shadow: none;
  opacity: 0.9;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  outline: 0 !important;
}
.contact-clean form .btn:hover {
  opacity: 1;
}
.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
[type="search"] {
  width: 370px;
}
.d-flex.justify-content-center {
  margin: 18px;
}
.row,
div,
p {
  margin: 20px;
}
.navbar.navbar-light.navbar-expand-md {
  background-color: transparent;
}
#navcol-1,
.col-md-12,
.list-inline,
.row {
  background-color: rgba(0, 0, 0, 0.4);
}
#navcol-1 {
  width: 760px;
  padding: 0;
  margin: 0;
}
.nav-item {
  width: 81px;
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  width: 84px;
  color: rgba(255, 255, 255, 0.9);
}
.h2,
.navbar-light .navbar-toggler-icon,
.row,
.text-center,
h2,
p {
  color: #fff;
}
.row {
  padding: 20px;
}
.col-md-12 {
  padding: 21px;
}
.text-center {
  margin: 19px;
  background-color: rgba(255, 255, 255, 0.05);
}
.h2,
h2 {
  margin: 20px;
}
.footer-basic {
  padding: 40px 0;
  background-color: transparent;
  color: #fff;
}
.footer-basic .copyright,
.footer-basic ul {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.footer-basic ul {
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer-basic li {
  padding: 0 10px;
}
.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-basic ul a:hover {
  opacity: 1;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
}
.footer-basic .copyright {
  margin-top: 15px;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}
.footer-dark ul a:hover {
  opacity: 0.8;
}
.footer-dark .item.text {
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}
.footer-dark .item.social {
  text-align: center;
}
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.highlight-blue {
  color: #fff;
  background-color: #1e6add;
  padding: 50px 0;
}
.highlight-blue p {
  color: #c4d5ef;
  line-height: 1.5;
}
.highlight-blue h2 {
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}
.highlight-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}
.highlight-blue .buttons {
  text-align: center;
}
.highlight-blue .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: 0 0;
  box-shadow: none;
  opacity: 0.9;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
}
.highlight-blue .buttons .btn:hover {
  opacity: 1;
}
.highlight-blue .buttons .btn-primary,
.highlight-blue .buttons .btn-primary:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: 14px 24px;
  background: 0 0;
  transition: background-color 0.25s;
}
#main,
body {
  background-position: center;
}
#main,
.navbar-light .navbar-brand,
body {
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-color: #000;
  background-image: url("../img/guitar Double.jpg");
}
#main {
  width: 100%;
  color: #fdfeff;
  height: 100vh;
  background-image: url(guitar_huawei_mate_10-3840x2160.jpg);
}
.navbar-light .navbar-brand {
  background-image: url("../img/logo sky.png");
  background-position: left;
  padding: 76px;
  margin: -8px;
  height: 83px;
  width: 161px;
}
#title {
  font-size: 30px;
  width: 964px;
}
.testimonials-clean .people {
  padding: 50px 0 20px;
}
.testimonials-clean {
  background-color: transparent;
  color: #fff;
}
.testimonials-clean p {
  color: #7d8285;
}
.testimonials-clean h2 {
  font-weight: 700;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}
@media (max-width: 767px) {
  .testimonials-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.testimonials-clean .intro p {
  margin-bottom: 0;
}
.testimonials-clean .people {
  background-color: rgba(0, 0, 0, 0.72);
}
.testimonials-clean .item {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}
.testimonials-clean .item .box {
  padding: 30px;
  background-color: #fff;
  position: relative;
}
.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #fff;
}
.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}
.testimonials-clean .item .name {
  font-weight: 700;
  margin-bottom: 2px;
  color: inherit;
}
.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}
.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}
.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}

#navbar123 {
  width: 84px;
  color: rgba(255, 255, 255, 0.9);
}

#testimonal {
  padding: 0%;
  margin: 0%;
}
